<!DOCTYPE html>
<html>
<head>
	<title>FAQs</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="faq.css">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>FAQs</h1>
		</div>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <p role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget tempus elit?
        </p>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Proin malesuada eros nec neque laoreet tempus. Donec gravida varius eleifend. Etiam ultrices vel arcu sed gravida. Nulla placerat diam ac massa varius consectetur. Etiam quis quam elementum, dapibus libero quis, tincidunt lorem. Phasellus non purus quis orci tempus mollis. Duis a lobortis ex. In ut est augue.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <p class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Vestibulum porta lectus at tellus finibus sodales?
        </p>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
       Pellentesque efficitur auctor orci ut dictum. Praesent dapibus lectus nulla, eget elementum tellus gravida eget. Duis vestibulum lectus at tincidunt venenatis.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <p class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Praesent dapibus lectus nulla, eget elementum tellus gravida eget. Duis vestibulum lectus at tincidunt venenatis?
        </p>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Ut dictum auctor turpis, in euismod sem tincidunt semper. Duis malesuada, turpis quis suscipit lacinia, massa eros auctor nulla, nec eleifend justo nisi sit amet mauris. Ut tincidunt quam ac ornare placerat. Donec pellentesque accumsan condimentum. Maecenas eget scelerisque risus, dapibus consequat risus. Donec non ultrices metus. Nam molestie justo eget mi fermentum consectetur. Maecenas convallis tincidunt pharetra.
      </div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <p class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapsedFour">
          Ut tincidunt quam ac ornare placerat. Donec pellentesque accumsan condimentum?
        </p>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        Mauris condimentum lorem est, vitae convallis neque vulputate id. In efficitur nisi vel faucibus aliquet. Maecenas vel vehicula mauris. Duis vel ipsum a quam malesuada scelerisque.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <p class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Fusce euismod nec est sit amet dignissim. Morbi ac dolor cursus, auctor ex eget, porttitor velit. Maecenas venenatis libero at porta pellentesque?
        </p>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        Curabitur venenatis tortor id venenatis cursus. Curabitur tristique in nulla nec sollicitudin. Vestibulum quis nulla in libero tempor ornare. Fusce condimentum cursus sem at placerat. Vivamus euismod accumsan bibendum. Quisque quis posuere quam. Sed condimentum, tellus ut volutpat vehicula, nibh eros pellentesque eros, nec eleifend felis enim eu sem. Curabitur id sollicitudin massa.
      </div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <p class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
           Nulla ut tellus in dolor hendrerit sollicitudin?
        </p>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        Phasellus justo urna, tincidunt et porttitor non, accumsan sed nulla. Sed et elementum massa, sit amet aliquet eros. Morbi pharetra at tellus ac tristique. Integer vehicula nisl ac leo pellentesque, eget mollis quam finibus. Vivamus vestibulum faucibus ante, non blandit massa interdum non. Etiam pretium eleifend nisi vitae porta.
      </div>
    </div>
  </div>

</div>
	</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>